
mixin formInputWithLabel(labelText, id, placeholder, type)
  p.form-input
    label(for=id)=labelText
    input(
      type=type
      name=id
      id=id
      placeholder=placeholder
      class=type + "-input"
    )