mixin topBar(DATA)
  .top-bar
    .block.title
      h2=DATA.topBar.memberTitle
      p=DATA.topBar.memberTitleCopy
    .block.description
      h2=DATA.topBar.MemberDescription
      p=DATA.topBar.MemberDescriptionCopy
    .block.plans
      h2=DATA.topBar.MemberPlans
      p=DATA.topBar.MemberPlansCount